:root{
    --primaryColor: #6AA164;
    --secondaryColor: #A8D967;
    --whiteColor: #fff;
    --black: #222;
    --yellow: #F1E287;
    --darkPink: #C88EA7;
    /* way gamit mga fenk, should probably find them use */
    --pink: #99627A;  
    --cream:#f5f1e0;
    --darkGreen:#2b6e30;
    --grey: #DED4D4;
}

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Open Sans', sans-serif;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    width: 100%;
    height: auto;
    display: flex;
}


.sidebar{
    height: 100%;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2%;
    font-size: 20px;
    background-color: var(--primaryColor);
    color: var(--whiteColor);
    background-image: url(images/vine2.png);
}


.sidebar-logout{
    visibility: hidden;
}

.sidebar-menus a{
    padding: 5% 8%;
    margin: 5rem 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    text-decoration: none;
    color: var(--whiteColor);
   
}

.sidebar-menus a ion-icon, .sidebar-logout a{
    font-size:25px;
}

.sidebar-menus a:hover, .sidebar-logout a:hover{
    background-color: var(--yellow);
    border-radius: 50px;
    color: var(--darkGreen);
}

.sidelogo a{
    text-decoration: none;
}

.logo{
    color: var(--whiteColor);
    position: absolute;
    top: 10;
    left: 0;
    height: 150px;
    width: auto;
    
    
}

.main{
    width: 100%;
    height: 100%;
    padding: 2%;
    background-color: var(--cream);
    margin-left: 250px;
    
   
}

.menu-toggle{
    display: none;
}



.main-highlight{
    margin: 3% 0;
    padding: 3%;
    border-radius: 8px;
    background-color:var(--yellow); 
}

.main-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.main-title{
    font-size: 22px;
}

.main-arrow{
    font-size: 24px;
}

.back, .next{
    cursor: pointer;
}

.back:hover, .next:hover{
    color: var(--primaryColor);
    
}



/* for mobile sht */
@media screen and (max-width:640px) {
    .sidebar{
        display: none;
    }

    .main{
        margin-left: 0;
    }
    
    .menu-toggle{
        display: block;
        text-decoration: none;
        font-size: 20px;
        background-color: var(--whiteColor);
        color: var(--primaryColor);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        height: 40px;
        border-radius: 50%;
        z-index: 3;
    }

    .sidebar-active{
        display: flex;
        z-index: 10;
    }
}

@media (max-width:768px){
    .products-preview .preview img{
        height: 25rem;
        border: 0.5px solid;
    }
}





/*ADDING HERE FOR ABOUT US*/




h2{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 30px;
}

h3, p, a, img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: large;
}



.center {
    text-align: center;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px; 
}

.pepol {
    text-align: center;
}

.pepol img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.pepol h3,
.pepol p {
    margin: 10px 0;
}


.footer {
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1; 
}